[Desktop Entry]
Version=1.1
Name=CX Terminal
GenericName=Terminal
Comment=AI-Native Terminal for CX Linux - Command blocks, AI assistance, Agents
Keywords=shell;prompt;command;commandline;cmd;terminal;cx;ai;llm;assistant;
Icon=cx-terminal
StartupWMClass=org.cxlinux.cx-terminal
TryExec=cx-terminal
Exec=cx-terminal start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=cx-terminal start
